 <% layout('layouts/boilerplate') %>
    <h1>Our Artists</h1>

    <ul>
        <% users.forEach((usr) => { %>
        <div class="user">
            <h2><%= usr.username %></h2>
            <p>Email: <%= usr.email %></p>
            <p>Specialty: <%= usr.specialty %></p>
            <p>Bio: <%= usr.bio %></p>
        </div>
    <% }); %>
         
    </ul>